@media screen and (min-width: 300px) {
    body {
        text-align: center;
        background-color: lightgoldenrodyellow;
        display: grid;
        grid-template-rows: 1fr 1fr 4fr 1fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "Kopfzeile Kopfzeile Kopfzeile"
            "header header header"
            "sideleft main sideright"
            "sideleft main2 sideright"
            "main3 main3 main3"
            "footer footer footer"
            "Fußzeile Fußzeile Fußzeile";

        grid-gap: 70px;
    }
}
@media screen and (max-width: 300px) {
    body {
        text-align: center;
        background-color: lightgoldenrodyellow;
        display: grid;
        grid-template-rows: repeat(4, fr);
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sideleft"
            "footer";
        grid-gap: 2px;
    }
    #aside-right {
        display: none;
    }
}
#hauptmain {
    grid-area: Kopfzeile;
    background-color: mistyrose;
}
#header {
    grid-area: header;
    background-color: lightcoral;
    font-size: 30px;
}
#aside-left {
    grid-area: sideleft;
    background-color: pink;
}
#main {
    grid-area: main;
    background-color: violet;
}
#main2 {
    grid-area: main2;
    background-color: violet;
}
#main3 {
    grid-area: main3;
    background-color: blueviolet;
    font-size: 15px;
}
#aside-right {
    grid-area: sideright;
    background-color: pink;
}
#footer {
    grid-area: footer;
    background-color: lightblue;
    font-size: 20px;
}
#hauptmain2 {
    grid-area: Fußzeile;
    background-color: paleturquoise;
}